.App {
  text-align: center;
}

body {
  padding: 0%;
  margin: 0%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
  list-style-type: none;
  display: flex;
  margin: 2rem;
}

li {
  padding: 2rem;
}

nav {
  margin: 0;
  width: auto;
  height: 4rem;
  background-color: black;
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
}

a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  float: left;
}